body {
	margin: 0px;
	padding: 20px;
	background-color: #fff;
	font-family: "Verdana CE", Verdana, "Arial CE", Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #000;
	text-align: left;
}


div{
	border:0px solid blue;
}


/* --------------------------------------------------------------------------------------------------------- */



a img {
	border: 0px;
}

a {
	color: #5889e3;
	text-decoration: underline;
}

a:hover {
	color: #f5793f;
}

h1 {
	margin: 0px;
	padding: 0px;
	width: 160px;
	height: 150px;
	font-size: 5px;
	background-image: URL('./images/logo.png');
	background-position: left top;
	background-repeat: no-repeat;
	margin-left: 90px;
}

	h1 a {
		display: block;
		height: 160px;
		text-decoration: none;
	}
	
		h1 a strong {
			display: none;
			visibility: hidden;
		}
		
h2 {
	margin: 0px;
	padding: 0px;
	width: 250px;
	height: 80px;
	font-size: 1.9em;
	font-weight: normal;
	position: absolute;
	left: 310px;
	top: 40px;
}

	h2 em {
		color: #5889e3;
		font-style: normal;
		font-size: 1.2em;
	}


h3 {
	margin-top: 30px;
	margin-bottom: 5px;
	font-size: 1.3em;
	font-weight: normal;
}
	

hr {
	color: #000;
	height: 1px;
	background-color: #000;
	border: 0px;
}


/* --------------------------------------------------------------------------------------------------------- */



.td-important, .td-tl, .td-tr, .td-bl, .td-br, .td-r, .td-l, .td-t, .td-b, .td-m{
       background: #E0FFC2  ;
}
/*#tab-fm .td-important,#tab-fm  .td-tl,#tab-fm  .td-tr,#tab-fm  .td-bl,#tab-fm  .td-br,#tab-fm  .td-r,#tab-fm  .td-l,#tab-fm  .td-t,#tab-fm  .td-b{
    
    border-color: #CCFF99;
}
    
#tab-fm .td-tl{
   border-top-style: solid ;
   border-top-width: medium ;
   border-left-style: solid ;
   border-left-width: medium ;
}
#tab-fm .td-tr{
   border-top-style: solid ;
   border-top-width: medium ;
   border-right-style: solid ;
   border-right-width: medium ;   
}
#tab-fm .td-bl{
   border-bottom-style: solid ;
   border-bottom-width: medium ;
   border-left-style: solid ;
   border-left-width: medium ;
}
#tab-fm .td-br{
   border-bottom-style: solid ;
   border-bottom-width: medium ;
   border-right-style: solid ;
   border-right-width: medium ;
}
#tab-fm .td-l{
   border-left-style: solid ;
   border-left-width: medium ; 
}
#tab-fm .td-r{
   border-right-style: solid ;
   border-right-width: medium ;
}
#tab-fm .td-t{
   border-top-style: solid ;
   border-top-width: medium ;        
}
#tab-fm .td-b{
   border-bottom-style: solid ;
   border-bottom-width: medium ;     
}
#tab-fm .td-m{
       
}
*/


#str {
	width: 1100px;
	margin: auto;
	margin-top: 0px;
	text-align: left;
	position: relative;
}


	#str-stat {
		width: 950px;
		margin-left: 50px;
		text-align: justify;
	}
	
		#stat-sl1 {
			width: 420px;
			float: left;
		}
		
		#stat-sl2 {
			width: 420px;
			float: right;
		}
		
		#stat-reset {
			height: 1px;
			font-size: 1px;
			clear: both;
		}
	
	
		.str-stat-odd {
			/*width: 385px;
			margin-left: 200px;*/
		}
		
			.odd1 {
				margin-bottom: 110px;
			}
		
		
		#tab-fm {
			width: 420px;
			height: 360px;
			border: 1px solid #cdcdcd;
		}
		
			#tab-fm th {
				padding: 2px;
				font-weight: bold;
				background-color: #cdcdcd;
				text-align: left;
				vertical-align: middle;
				cursor: help;
			}
			
			#tab-fm td {
				padding: 0px;
				text-align: center;
				border-bottom: 1px solid #efefef;
				border-right: 1px solid #efefef;
			}
			
				#tab-fm td.sl1 {
					text-align: left;
				}

		
		
#publications{
	text-align: left;
}	
/* --------------------------------------------------------------------------------------------------------- */




.centered {
	text-align: center;
}

/* --------------------------------------------------------------------------------------------------------- */

#img-yes, #img-no, #img-warn, #img-pending {
  width: 16px;
  height: 16px;
}

#img-yes{
  content: url(images/yes.png) no-repeat;
}

#img-no{
  content: url(images/no.png) no-repeat;
}

#img-warn{
  content: url(images/warn.png) no-repeat;
}

#img-pending{
  content: url(images/pending.png) no-repeat;
}